{{$image := resources.Get .Destination}}

{{ $extraTiny := $image.Resize "256x" }}
{{ $tiny := $image.Resize "512x" }}
{{ $small := $image.Resize "768x" }}
{{ $medium := $image.Resize "1024x" }}
{{ $large := $image.Resize "1500x" }}


{{$extraTinywURL := $extraTiny.Permalink }}
{{$tinywURL := $tiny.Permalink }}
{{$smallwURL := $small.Permalink }}
{{$mediumwURL := $medium.Permalink }}
{{$largewURL := $large.Permalink }}

<figure class="md__image">
        <img 
        sizes="(min-width:30em) 28em, 100vw" 
        srcset="
        {{$extraTinywURL}} 256w,
        {{$tinywURL}} 512w,
        {{$smallwURL}} 768w,
        {{$mediumwURL}} 1024w,
        {{$largewURL}} 1280w
        "
        src="{{$largewURL}}"
        alt="{{ .Text}}" {{with .Title }} title="{{.}}" {{end}}>
</figure>