<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>
    {{- if eq .Params.type "home" -}}
    {{ .Site.Title }} | {{.Site.Params.tagline}}
    {{- else -}}
    {{.Title}} | {{.Site.Title}}
    {{- end -}}
</title>

<meta name="description" content="
    {{- if eq .Params.type "home" -}}
        {{ $.Site.Params.description }}
    {{- else if .Params.excerpt -}}
        {{.Params.excerpt}}
    {{- else -}}
        {{.Summary}}
    {{- end -}}">


{{ partial "head/seo/ryan-seo.html" . }}

<!-- MailerLite Universal -->
<script>
    (function (m, a, i, l, e, r) {
        m['MailerLiteObject'] = e;

        function f() {
            var c = {
                a: arguments,
                q: []
            };
            var r = this.push(c);
            return "number" != typeof r ? r : f.bind(c.q);
        }
        f.q = f.q || [];
        m[e] = m[e] || f.bind(f.q);
        m[e].q = m[e].q || f.q;
        r = a.createElement(i);
        var _ = a.getElementsByTagName(i)[0];
        r.async = 1;
        r.src = l + '?v' + (~~(new Date().getTime() / 1000000));
        _.parentNode.insertBefore(r, _);
    })(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '1940864', 'r4l1s1g0j7', 'load');
</script>
<!-- End MailerLite Universal -->


{{ if .HasShortcode "embed/mailerlite" }}
<!-- MailerLite Universal -->
<script>
    (function (m, a, i, l, e, r) {
        m['MailerLiteObject'] = e;

        function f() {
            var c = {
                a: arguments,
                q: []
            };
            var r = this.push(c);
            return "number" != typeof r ? r : f.bind(c.q);
        }
        f.q = f.q || [];
        m[e] = m[e] || f.bind(f.q);
        m[e].q = m[e].q || f.q;
        r = a.createElement(i);
        var _ = a.getElementsByTagName(i)[0];
        r.async = 1;
        r.src = l + '?v' + (~~(new Date().getTime() / 1000000));
        _.parentNode.insertBefore(r, _);
    })(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '1940864', 'r4l1s1g0j7', 'load');
</script>
<!-- End MailerLite Universal -->

{{ else }}

{{ end }}