

<!-- Start: @banner--default -->
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<div class="font-bold text-black text-center py-2 md:py-4 md:text-xl bg-gray-200">This is the default banner</div>
<!-- End: @banner--default -->

<!-- Start: @banner--warning -->
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<div class="font-bold text-black text-center py-2 md:py-4 md:text-xl bg-yellow-200">This is a warning banner</div>
<!-- End: @banner--warning -->

<!-- Start: @banner--success -->
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<div class="font-bold text-black text-center py-2 md:py-4 md:text-xl bg-green-200">This is a success banner</div>
<!-- End: @banner--success -->

