{{/*  
    
    Embeds a form from Mailerlite
    
    Example {{% embed/mailerlite form="shopify" %}}
    */}}

    {{ $form := .Get "form" }}   


{{ if eq $form "squarespace"}}    

{{"<!--Squarespace Form-->" | safeHTML}}
<div class="ml-form-embed"
  data-account="1940864:r4l1s1g0j7"
  data-form="1980410:l2v5u2">
</div>
{{end}}

{{ if eq $form "css"}}
css
{{"<!--CSS Form-->" | safeHTML}}
<div class="ml-form-embed"
  data-account="1940864:r4l1s1g0j7"
  data-form="2269577:s8s8n0">
</div>
{{end}}

{{ if eq $form "shopify" }}
shopify
{{"<!--Shopify Form-->" | safeHTML}}
<div class="ml-form-embed"
  data-account="1940864:r4l1s1g0j7"
  data-form="2269573:b0j3q8">
</div>
{{end}}

{{ if eq $form "vertical-nav" }}

{{"<!--Vertical Nav Form-->" | safeHTML}}
<div class="ml-form-embed"
  data-account="1940864:r4l1s1g0j7"
  data-form="2676806:r2v4z9">
</div>
{{end}}

{{ if eq $form "video-update" }}
<div class="ml-form-embed"
  data-account="1940864:r4l1s1g0j7"
  data-form="2700488:r4x1b4">
</div>
{{ end }}