<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ block "title" . }}
      <!-- Blocks may include default content. -->
      {{ .Site.Title }}
    {{ end }}</title>

    {{ partial "head/css.html" . }}
  </head>
  <body class="line-numbers">
    
    {{ block "header" . }}
        
    {{ end }}

    
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}

    {{/*  Adds JavaScript  */}}
    {{ partial "javascript/scripts.html" . }}
  </body>
</html>