<!DOCTYPE html>
<html>

<head>
    {{ partial "head/meta.html" . }}
    {{ partial "head/icons.html" . }}
    {{ partial "head/css.html" . }}

    {{ "<!-- Amp Test -->" |safeHTML }}
    {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end -}}

    {{ with .Site.Params.enableGoogleTagManager}}
        {{ partial "head/google-tag-manager.html" . }}
    {{ end }}
</head>
{{$themeFont := .Site.Data.theme.theme_font}}
<body class="line-numbers px-4 xl:px-0 {{$themeFont}} theme-light {{with .Site.Params.debugGrid}}debug-grid-16{{end}}">



    {{ with .Site.Params.enableGoogleTagManager}}
    {{/*  <!-- Google Tag Manager (noscript) -->  */}}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5F3VZW7" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    {{/*  <!-- End Google Tag Manager (noscript) -->  */}}
    {{end}}


    {{ block "header" . }}
    {{ if .Site.Data.theme.show_menu }}
        {{ if eq .Site.Data.theme.menu_style "Centered" }}
            {{ partial "navigation/desktop-centered.html" . }}
        {{ end }}

        {{ if eq .Site.Data.theme.menu_style  "Horizontal-Left" }}
            {{ partial "navigation/nav-inline-left.html" . }}
        {{ end }}

        {{ if eq .Site.Data.theme.menu_style  "Horizontal-Split" }}
        {{ partial "navigation/nav-inline-split.html" . }}
        {{ end }}

        {{ if eq .Site.Data.theme.menu_style  "Stacked-Left" }}
        {{ partial "navigation/nav-stacked-left.html" . }}
    {{ end }}

        {{ end }}
    {{ end }}


    {{ block "main" . }}
    {{/*  <!-- The part of the page that begins to differ between templates -->  */}}
    {{ end }}

    {{/*  <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->  */}}
    {{ block "footer" . }}
        {{ partial "footer.html" . }}
    {{ end }}

    {{/*  Adds JavaScript  */}}
    {{ partial "javascript/scripts.html" . }}
</body>

</html>