<h1>YO</h1>

{{ range .Params.page_sections }}
  {{ if eq "hero-section" .template }}
    {{ partial "blocks/hero" . }}
  {{ end }}
  {{ if eq "call-to-action" .template }}
    {{ partial "blocks/cta" . }}
  {{ end }}
{{ end }}


{{ define "main" }}
    {{- range .Params.blocks -}}
        {{- if eq .template "hero-block" -}}{{ partial "blocks/hero-block" (dict "Params" .) }}{{- end -}}
        {{- if eq .template "call-to-action" -}}{{ partial "blocks/cta" (dict "Params" .) }}{{- end -}}
    {{- end -}}
{{ end }}