{{ define "main" }}

Page Title: {{.Title}}
Page Kind: {{.Kind}}
Page Type: {{.Type}}
{{/*  {{ range .Pages  }}

{{$articleTitle := .Title}}

	Title: {{$articleTitle}}
	URL: {{.URL}}
	Date: {{.Date}}
	Date Formatted: {{.Date.Format "Jan 1, 2006" }}
	Date Formatted: {{.Date.Format "2006-01-02" }}
	
	Date Modified: {{.Lastmod}}
	ReadTime: {{.ReadingTime}}
	Word Count: {{.WordCount}}
	Next:{{.NextInSection}}

{{ end }}  */}}
{{ partial "range/latest-posts.html" . }}
{{/*  {{ partial "pagination/list-pagination.html" . }}  */}}
{{ end }}