{{ define "main" }}
{{$themeText := .Site.Data.theme.theme_color}}

{{ "<!-- Begin _default/single-left.html -->" | safeHTML }}
<main class="container mx-auto mt-8">
	<article class="space-y-6">
		{{ partial "articles/articleHeader.html" . }}
		{{/*  Content  */}}
		<div class="prose">
			{{- .Content -}}
		</div>
		{{if .Params.show_table_of_contents}}
		{{ partial "articles/table-of-contents.html" . }}
		{{end}}
	</article>
 {{ if ne .Section "pages" }}
{{/*	{{ partial "articles/articleRelated.html" . }} */}}
	{{ partial "articles/articlePrevNext.html" . }}
{{end}}



</main>
{{ "<!-- End _default/single-left.html -->" | safeHTML }}
{{ end }}