{{ define "main" }}
{{$themeText := .Site.Data.theme.theme_color}}

{{ "<!-- Begin _default/single-left.html -->" | safeHTML }}
<main class="container mx-auto mt-8">
	<article class="space-y-6">
{{ partial "articles/articleHeader.html" . }}

		{{/*  Content  */}}
		<div class="markdown container mx-auto">
			{{- .Content -}}
        </div>
	</article>
	{{ partial "articles/articleRelated.html" . }}
	{{ partial "articles/articlePrevNext.html" . }}
</main>
{{ "<!-- End _default/single-left.html -->" | safeHTML }}
{{ end }}