{{ define "main" }}

{{/*  Page Title: {{.Title}}
Page Kind: {{.Kind}}
Page Type: {{.Type}}
{{/*  {{ range .Pages  }}

{{$articleTitle := .Title}}

	Title: {{$articleTitle}}
	URL: {{.URL}}
	Date: {{.Date}}
	Date Formatted: {{.Date.Format "Jan 1, 2006" }}
	Date Formatted: {{.Date.Format "2006-01-02" }}
	
	Date Modified: {{.Lastmod}}
	ReadTime: {{.ReadingTime}}
	Word Count: {{.WordCount}}
	Next:{{.NextInSection}}

{{ end }}  */}}

{{/*  Display all posts under a taxonomy term. Example: show all posts tagged with "CSS" */}}
<main class="">
	<div class="container mx-auto mt-8 md:mt-24">
		<h1 class="text-2xl font-bold text-black">Tagged: {{.Title | title}}</h1>
		<div class="text-gray-900 markdown mt-4">
			{{.Content}}
		</div>
	</div>
	{{/*  display pagination  */}}
	{{ partial "pagination/list-pagination.html" . }}

	{{range where .Site.RegularPages.ByDate "Params.series" .Params.series}} {{.Permalink}} {{end}}
</main>
{{ end }}