{{if or .NextInSection | or .PrevInSection}}
{{ $themeText := .Site.Data.theme.theme_color }}
<div class="flex flex-col md:flex-row space-y-8 md:space-y-0 justify-between -mx-4 px-4 py-12 mt-16">
    {{with .PrevInSection}}
    <div class="text-center md:text-left">
        <span class="text-secondary-text text-sm block">previous</span>
        <a class="hover:border-b-2 border-{{$themeText}}-400 self-start box-border font-medium text-main-text" href="{{.Permalink}}">{{.Title}}</a>
    </div>
    {{end}}
    
    {{with .NextInSection}}
        {{$align := "" }}
    {{if eq $.PrevInSection nil}}
    {{$align = "md:text-left" }}
    {{else}}
    {{$align = "md:text-right" }}
    {{end}}
    <div class="text-center {{$align}}">
        <span class="text-secondary-text text-sm block">next</span>
        <a class="hover:border-b-2 border-{{$themeText}}-400 self-start box-border font-medium text-main-text" href="{{.Permalink}}">{{.Title }}</a>
    </div>
    {{end}}
</div>



{{end}}
