<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<div class="font-bold text-{{textColor}} text-center py-2 md:py-4 md:text-xl bg-{{bgColor}}-200">{{message}}</div>
