{{  "<!-- Start of Article Schema -->" | safeHTML  }}

<!-- To make sure this renders only in the article page, we check the section -->
{{ if and (eq .Section "articles") (eq .Kind "page") }}

<!-- Pagination meta tags for list pages only -->
{{ $paginator := .Paginate (where .Pages "Section" "articles") }}
{{ if $paginator }}
<link rel="first" href="{{ $paginator.First.URL }}">
<link rel="last" href="{{ $paginator.Last.URL }}">
{{ if $paginator.HasPrev }}
<link rel="prev" href="{{ $paginator.Prev.URL }}">
{{end }}
{{ if $paginator.HasNext }}
<link rel="next" href="{{ $paginator.Next.URL }}">
{{end }}
{{end }}

<meta property="og:type" content="article" />
<meta property="article:publisher" content="{{ .Site.Social.facebook }}" />
<meta property="og:article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
<meta property="article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

{{ with.Params.author }}
<meta property="og:article:author" content="{{humanize . }}" />
<meta property="article:author" content="{{humanize . }}" />
<meta name="author" content="{{humanize . }}" />
{{ end }}

{{ with.Params.category }}
<meta name="news_keywords" content="{{ index . 0 }}" />
<meta property="article:section" content="{{ index . 0 }}" />
{{ end }}

<script defer type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "headline": {{ .Title }},
      "author": {
        "@type": "Person",
        "name": "{{ .Site.Social.github }}"
      },
      "datePublished": "{{ .Date.Format "2006-01-02" }}",
      "description": {{ .Description }},
      "wordCount": {{ .WordCount }},
      "mainEntityOfPage": "True",
      "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
      "image": {
        "@type": "imageObject",
        "url": "{{ with .Params.image }}{{ .Permalink }}{{ end }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "imageObject",
          "url": "https://www.example.com/images/brand/favicon.png"
        }
      }
    }
  </script>
{{ end }}
{{  "<!-- End of Article Schema -->" | safeHTML  }}

{{/*  
  
 <script type="application/ld+json">{"name":"How to change the color of gallery arrows in Squarespace 7 // Squarespace CSS Tutorial \u2014 InsideTheSquare.co","url":"https://insidethesquare.co/squarespace-tutorials/gallery-arrows-7","datePublished":"2020-04-17T13:55:59-0700","headline":"How to change the color of gallery arrows in Squarespace 7","author":"insidethesquare","publisher":{"name":"InsideTheSquare.co","logo":{"@type":"ImageObject"},"@context":"http://schema.org","@type":"Organization"},"image":"http://static1.squarespace.com/static/5e2675ab8ee5021e016a1ecc/5e4e086bc4809d64bffc97e8/5e9a168ff36834477ad67b35/1590526854281/squarespace+css+tutorial+for+both+squaresapce+7+and+squarespace+7+%28174%29.png?format=1500w","@context":"http://schema.org","@type":"Article"}</script> 
  */}}