{{/*  {{ "<!-- Begin microdata.html -->" | safeHTML }}
    <meta itemprop="name" content="{{.Site.Title}}">
    <meta itemprop="url" content="{{.Site.BaseURL}}">
    <meta itemprop="description" content="">
    <meta itemprop="author" content="insidethesquare">
    <meta itemprop="datePublished" content="2020-04-17T13:55:59-0700">
    <meta itemprop="headline" content="How to change the color of gallery arrows in Squarespace 7">
    <meta itemprop="publisher" content="InsideTheSquare.co">
{{ "<!-- End microdata.html -->" | safeHTML }}  */}}