    {{  "<!-- Start of Open Graph -->" | safeHTML  }}
    
    {{/*  Facebook Title  */}}
    {{if .Params.facebook_title}}
    <meta property="og:title" content="{{ .Params.facebook_title }}">
    {{else}}
    <meta property="og:title" content="{{ .Params.title }}">
    {{end}}

    {{ if .IsPage }}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
    {{ else }}
    <meta property="og:type" content="website">
    {{ end }}

    {{/*  Facebook Description   */}}
    {{if .Params.facebook_description}}
    <meta property="og:description" content="{{ .Params.facebook_description }}">
    {{else}}
    <meta property="og:description" content="{{ .Params.excerpt }}">
    {{end}}
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">

    {{/*  Facebook Image  */}}
    {{ with .Params.facebook_image }}
        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads" . ) }}


    <meta property="og:image" content="{{ $imageResource }}">
    {{else}}
    <meta property="og:image" content="{{.Site.Params.cloudinary_url}}/{{ .Params.articleFeatureImage }}">
    {{ end }}

    {{ range .Params.tags }}
    <meta property="og:tags" content="{{ . }}">
    {{ end }}
    {{  "<!-- End of Open Graph -->" | safeHTML  }}

    {{/*  
Example of options for open graph. Source: https://github.com/joshbuchea/HEAD#recommended-minimum        
<meta property="fb:app_id" content="123456789">
<meta property="og:url" content="https://example.com/page.html">
<meta property="og:type" content="website">
<meta property="og:title" content="Content Title">
<meta property="og:image" content="https://example.com/image.jpg">
<meta property="og:image:alt" content="A description of what is in the image (not a caption)">
<meta property="og:description" content="Description Here">
<meta property="og:site_name" content="Site Name">
<meta property="og:locale" content="en_US">
<meta property="article:author" content="">  */}}