{{  "<!-- Start of Page Schema -->" | safeHTML  }}
<meta property="og:type" content="website" /> 
<meta name="author" content="{{ .Site.Params.author }}" />
<script defer type="application/ld+json">
  { 
    "@context": "http://schema.org", 
    "@type": "WebSite", 
    "url": "{{ .Permalink }}", 
    "sameAs": [
      {{ .Site.Social.facebook  }}, 
      {{ .Site.Social.github }},
      {{ .Site.Social.instagram }},
      {{ .Site.Social.twitter }},
      {{ .Site.Social.youtube }}
    ], 
    "name": "{{ .Site.Title }}", 
    "logo": "https://www.example.com/images/brand/favicon.png" 
  }
</script>
{{  "<!-- End of Page Schema -->" | safeHTML  }}

{{/*  {"url":"https://insidethesquare.co","name":"InsideTheSquare.co","description":"","@context":"http://schema.org","@type":"WebSite"}  */}}