    {{ "<!-- Start of Twitter -->" | safeHTML }}
    

    {{ if .Site.Params.twitter_card_whitelisted }}
        {{ if .Params.twitter_summary }}
    <meta property="twitter:card" content="{{ .Params.twitter_summary }}">
        {{ else if .Description }}
    <meta property="twitter:card" content="{{ .Description }}">
        {{ else }}
    <meta property="twitter:card" content="{{ .Title }}">
        {{ end }}
    {{ end }}

    {{/*  Twitter Title And Description  */}}
    <meta property="twitter:description" content="{{ .Description }}">
    <meta property="twitter:title" content="{{ .Title }}">
    
    {{ if .Params.thumbnail }}
    <meta property="twitter:image" content="{{ .Params.thumbnail }}">
    {{ end }}
  {{ "<!-- End of Twitter -->" | safeHTML }}

  {{/*  
Source: https://github.com/joshbuchea/HEAD#recommended-minimum
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@site_account">
<meta name="twitter:creator" content="@individual_account">
<meta name="twitter:url" content="https://example.com/page.html">
<meta name="twitter:title" content="Content Title">
<meta name="twitter:description" content="Content description less than 200 characters">
<meta name="twitter:image" content="https://example.com/image.jpg">
<meta name="twitter:image:alt" content="A text description of the image conveying the essential nature of an image to users who are visually impaired. Maximum 420 characters.">  
*/}}