{{ "<!-- Start of Twitter -->" | safeHTML }}



<meta name="twitter:card" content="summary" />

<meta name="twitter:site" content="@ryandejaegher" />


{{/*  Twitter Title And Description  */}}
{{ if .Params.twitter_description }}
    <meta property="twitter:description" content="{{ .Params.twitter_description }}">
{{else}}
    <meta property="twitter:description" content="{{ .Params.excerpt }}">
{{end}}

{{ if .Params.twitter_title }}
<meta property="twitter:title" content="{{ .Params.twitter_title }}">
{{else}}
<meta property="twitter:title" content="{{ .Title }}">
{{end}}

{{ if .Params.twitter_image }}
<meta property="twitter:image" content="{{ .Params.twitter_image }}">
{{else}}
<meta property="twitter:image" content="{{ .Params.articlefeatureimage }}">
{{ end }}
{{ "<!-- End of Twitter -->" | safeHTML }}

{{/*  
Source: https://github.com/joshbuchea/HEAD#recommended-minimum
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@site_account">
<meta name="twitter:creator" content="@individual_account">
<meta name="twitter:url" content="https://example.com/page.html">
<meta name="twitter:title" content="Content Title">
<meta name="twitter:description" content="Content description less than 200 characters">
<meta name="twitter:image" content="https://example.com/image.jpg">
<meta name="twitter:image:alt" content="A text description of the image conveying the essential nature of an image to users who are visually impaired. Maximum 420 characters.">  
*/}}