{{/*  This will create pagination for list pages  */}}
{{ $paginator := .Paginate (.RegularPagesRecursive) }}
{{ $themeText := .Site.Data.theme.theme_color }}
<div class="article-list-container container mx-auto space-y-8 mt-12">
    {{ range $paginator.Pages }}
        <article class="space-y-2 max-w-lg">
            <h3 class="text-black text-xl"><a class="hover:border-b-2 border-{{$themeText}}-400" href="{{.Permalink}}">{{.Title}}</a></h3>
            
            {{ if .Site.Data.theme.show_article_preview }}    
            <p class="text-gray-900">
                {{.Summary}}        
            </p>
            {{ end }}

            <time class="inline-block text-sm tracking-tight text-gray-700" datetime="{{.Date}}">{{.Date.Format "January 1, 2006" }}</time>
        </article>
        {{ end }}
        
        
        {{ partial "pagination/nav-pagination.html" . }}
</div>