

<div class="flex space-x-4">
        <time class="block text-sm font-medium uppercase text-{{.themeText}}-600" datetime="{{ .dot.Date }}"
            pubdate>{{ dateFormat "January 2, 2006" .dot.Date }}</time>
        
        {{/*  Only show Last Modified date if the dates aren't equal  */}}
        {{if ne (dateFormat "January 2, 2006" .dot.Date) (dateFormat "January 2, 2006" .dot.Lastmod)}}
        <time class="italic block text-sm font-medium uppercase text-{{.themeText}}-600" datetime="{{ .dot.Lastmod }}"
            pubdate>Updated: {{ dateFormat "January 2, 2006" .dot.Lastmod }}</time>
        {{end}}
</div>