{{/* 

This is the taxonomy page. This will display all of the terms for a taxonomy.

For example with "tags" it will display all of the individual tags 

For the series taxonomy it will display all of the individual series

 */}}


 
{{ define "main" }} {{/* Page Title: {{.Title}} Page Kind: {{.Kind}} Page Type: {{.Type}} {{/* {{ range .Pages }}
{{$articleTitle := .Title}} Title: {{$articleTitle}} URL: {{.URL}} Date: {{.Date}} Date Formatted: {{.Date.Format "Jan
1, 2006" }} Date Formatted: {{.Date.Format "2006-01-02" }} Date Modified: {{.Lastmod}} ReadTime: {{.ReadingTime}} Word
Count: {{.WordCount}} Next:{{.NextInSection}} {{ end }} */}} {{/* Display a list of all site tags.*/}}

{{$count := len .Pages}}

<main class="">

    <div class="container mx-auto mt-8 md:mt-24">
        <h1 class="text-2xl font-bold text-black">{{.Title | title}}</h1>
        <div class="text-gray-900 markdown mt-4">{{.Content}}</div>
        

        {{range .Pages}} 
            <a href="{{.RelPermalink}}">{{.Title | lower}}</a> - {{len .Pages}}
        {{end}}
    </div>
    {{/* display pagination */}}  
</main>
{{ end }}
